.page_menu {
    display: flex;
    background: rgba(255, 228, 196);
    height: 92vh;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.page_menu #title {
    margin: 20px;
}

.page_menu #price {
    padding: 0 20%;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.page_menu #price:hover {
    color: goldenrod;
    background: darkcyan;
    cursor: pointer;
}

.table {
    width: 60%;
}

table {
    width: 100%;
}
