.page_menu {
    padding: 10% 0;
    background: rgba(255, 228, 196);
    text-align: center;
    height: 92vh;
}

.page_menu #title {
    margin-bottom: 20px;
}

.page_menu #price {
    padding: 0 20%;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.page_menu #price:hover {
    color: goldenrod;
    background: darkcyan;
    cursor: pointer;
}

#remove {
    margin: 0 10px;
    padding: 0 10px;
    background: rgb(175, 28, 28);
    border-radius: 15px;
    transition: color 0.3s;
    text-decoration: none;
    color: black;
}

#remove:hover {
    cursor: pointer;
    color: white;
}
