.page_menu {
    padding: 10% 0;
    background: rgba(255, 228, 196);
    text-align: center;
    height: 92vh;
}

.page_menu #title {
    margin-bottom: 20px;
}

.page_menu #price {
    padding: 0 20%;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    width: 100px;
}

.page_menu #price:hover {
    color: goldenrod;
    background: darkcyan;
    cursor: pointer;
}

.table {
    margin: 20px auto;
    width: 60%;
}

table {
    width: 100%;
}