{% extends "base.html.twig" %}

{% block body %}
    <section class="page_menu">
        {# <h1>Menu</h1> #}
        <div class="card">
            <h1 id='title'>{{ restaurant.name }}</h1>
            <ul>
                {% for plat in plats %}
                    <li>{{ plat.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}