{% block body %}
    <header>
        <a id="link" class="resto" onclick="window.location.href='{{ asset('/') }}'" href="#">Restaurant</a>
        <h3 id="logo" onclick="window.location.href='{{ asset('/') }}'">HiHungry</h3>
        <a id="link" class="about" href="#">About</a>
    </header>
{% endblock %}